a, a:link, a:visited {
  color: #335577;
  border-bottom-color: #335577;
}

a:hover, a:active {
  color: #990000;
  border-bottom-color: #990000;
}

h2 {
  color: #c00c00;
  border-color: #c00c00;
}

ins {
  color: #9e624a;
}

th {
  background-color: #e0e0cf;
}

tr.alt td {
  background-color: #eaeadf;
}

#headerContainer {
  background-color:#deb887;
}

#menu {
  background-color: #fc6;
}

#menu li a, #menu li a:link, #menu li a:visited, #menu li .text {
  color: navy;
}

#menu li a:hover, #menu li a:active {
  color: #ffffff;
  background-color: navy;
}

#menu li.special a {
  color: #D00000;
}

#messages  {
  background-color: #ffb3b5;
}

table.content, table.ladder, table.timetable, table.formTable, table.progress {
  border-color: brown;
}

.content th, .ladder th, .timetable th, .progress th {
  background-color:#F4A460;
  border-color: brown;
}

.formTable th {
  border-color: #a52a2a;
}

.formTable input, .formTable select {
  border-color: #a52a2a;
}

.content td, .formTable td {
  border-color: brown;
}

.formTable .submitRow {
  background-color: #f0a460;
  border-color: #a52a2a;
}

.formTable .header {
  background-color: #f4a460;
}

.ladder input, .ladder select {
  border-color: #a52a2a;
}

.ladder .submitRow {
  background-color: #f4a460;
  border-color: #a52a2a;
}

.timetable td, .progress td {
  border-color: #a52a2a;
}

.timetable td div {
  border-color: #a52a2a;
}

div.img {
  border-color: #a52a2a;
}

div.view {
  border-color: #a52a2a;
}

div.not {
  background-color: #b7ffb7;
  border-color: #008000;
}

div.img img, div.not img {
  border-color: #a52a2a;
}

div.img a:hover img, div.not a:hover img {
  border-color: #2A2AA5;
}

.person {
  border-color: #2a2aa5;
}

#card {
  border-color: #96b596;
  background-color: #cceecc;
}

#cardContact {
  border-color: #3c87b5;
  background-color: #cce1ee;
}

.optquest {
  background-color: #eaeadf;
}

.newprofileAbout {
  border-color: #96B596;
  background-color: #CCEECC;
}

.newprofileContacts {
  border-color: #3c87b5;
  background-color: #ccE1ee;
}

div.newprofileSmallPhoto {
  border-color: #a52a2a;
}

div.newprofileSmallPhoto img {
  border-color: #a52a2a;
}

div.newprofileSmallPhoto a:hover img {
  border-color: #a52a2a;
}

#dutygroups th {
  background-color: #f4a460;
}

div.progress {
  background-color: #DEB887;
  border-color: #BE9867;
}

.progress .bar {
  background-color: #BE9867;
}

.captioning img {
  border-color: #A52A2A;
}

.captioning .image {
  background-color: #DEB887;
}

#nav a {
  color: #E5E5E7;
}

#nav ul a:hover {
  background-color: #D49903 !important;
}

.cellBackground {
  background-color: #F4A460;
}

.uber {
  background-color: #FC6;
}

.ubered {
  background-color: #C00C00;
  color: white;
}
