<form method="POST" action="">
    <table class='formTable'>
        <tr>
            <th>Old Password:</th>
            <td><input type='password' name='oldpassword' required /></td>
        </tr>
        <tr>
            <th>New Password:</th>
            <td><input type='password' name='newpassword' required /></td>
        </tr>
        <tr>
            <th>Retype Password:</th>
            <td><input type='password' name='retypedpassword' required /></td>
        </tr>
        <tr>
            <th colspan="2" class="submitRow"><input type='submit' value="Change Password" /></th>
        </tr>
    </table>
</form>

{% if user.leader and not user.needsPasswordChange %}
<h2>Reset Password:</h2>
This form will reset the password of the specified user. Their new password will be the same as their username.
<form method="POST" action="">
<table class='formTable'>
<tr>
    <th>User:</th>
    <td style='text-align:right'>
        <select name='userreset'>
            {% for oneuser in users %}
            <option value="{{ oneuser.UserID }}">{{ oneuser.UserID }} [{{ oneuser.Name }}]</option>
            {% endfor %}
        </select>
    </td>
</tr>
<tr><th colspan="2" class="submitRow"><input type='submit' value="Reset" /></th></tr>
</table>
</form>
{% endif %}
